<!DOCTYPE html>
<html lang="en">
<head class="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main_page.css">
</head>
<body>
<main>
    <section id="section1">
        <div class="container">
            <div class="header">
                <h1><a href="#">NoReBo</a></h1>
                <div class="nav">
                    <ul>
                        <li><a href="#">Main</a></li>
                        <li><a href="#">MyPage</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="hero">
                <h2 id="introduce">JUST, Listening the novel</h2>
                <div class="inner_content">
                    <p>책에 손쉽게 접근하고,<br/>
                        언제 어디서든 쉽게 들을 수 있는<br/>
                        당신을 위한 <strong>독서 도우미 서비스</strong></p>
                </div>
                <a href="#section2">Go to the library</a>
            </div>
        </div>
    </section>

    <section id="section2">
        <h4 class="header2">Library</h4>
        <div id="book_list">
            {% for name in novellist %}
            <li>
                <img src="" alt="">
                <h3 class="bk_num">{{ name }}</h3>
                <button class="play_button" onclick="loadContent('{{ name }}')">START</button>
            </li>
            {% endfor %}

            <!-- 파일 업로드 -->
            <form action="/upload_epub" method="post" enctype="multipart/form-data">
                <input type="file" name="epub_file">
                <input type="submit" value="Upload">
            </form>
        </div>
    </section>

    <div id="footer"><small>자연어처리 16회차. team_NoReBo</small></div>
</main>

<script>
    function loadContent(novelname) {
        fetch('/load_content', {
            method: 'POST',
            body: new URLSearchParams({
                'novelname': novelname
            }),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
            .then(response => response.text())
            .then(html => {
                document.body.innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>
